<!DOCTYPE html>
<html>
    <body>
        <h1>API Definition:</h1>
			<p>
			<b>openapi: </b>3.0.2<br>
			<b>info:</b><br>
				<b>title: </b>Alternative OGC API - Processes<br>
				<b>description: </b>test<br>
			<b>contact:</b><br>
				<b>email: </b>Alternative OGC API - Processes<br>
			<b>license:</b><br>
				<b>name: </b>Alternative OGC API - Processes<br>
				<b>url: </b>test<br>
			<b>version: </b>3.0.2<br>
			<b>paths:</b><br>
				<b>/: </b><br>
				<b>/conformance: </b><br>
				<b>/apiDefinition: </b><br>
				<b>/processes: </b><br>
				<b>/jobs: </b><br>
				<b>/processes/{processID}:</b><br>
				<b>/processes/{processID}/execution:</b><br>
				<b>/jobs/{jobID}:</b><br>
				<b>/jobs/{jobID/results:</b><br>
			</p>
            <p>
                <b>links:</b><br><br>
                <b>href:</b> <a href="localhost:5000/apiDefinition?f=text/html">localhost:5000/apiDefinition?f=text/html</a><br>
                <b>rel:</b> self<br>
                <b>type:</b> text/html<br>
                <b>title:</b> This Document as HTML<br>
                <br>
                <b>href:</b> <a href="localhost:5000/apiDefinition?f=application/json">localhost:5000/apiDefinition?f=application/json</a><br>
                <b>rel:</b> alternate<br>
                <b>type:</b> application/json<br>
                <b>title:</b> This document as JSON<br>
            </p>
    </body>
</html>
