
<!DOCTYPE html>
<html>
    <body>
        <h1>API Definition:</h1>
			<p>
			<b>openapi: </b> 3.0.2<br>
			
			</p>
            <p>
                <b>links:</b><br><br>
                <b>href:</b> <a href="localhost:5000/apiDefinition?f=text/html">localhost:5000/apiDefinition?f=text/html</a><br>
                <b>rel:</b> self<br>
                <b>type:</b> text/html<br>
                <b>title:</b> This Document as HTML<br>
                <br>
                <b>href:</b> <a href="localhost:5000/apiDefinition?f=application/json">localhost:5000/apiDefinition?f=application/json</a><br>
                <b>rel:</b> alternate<br>
                <b>type:</b> application/json<br>
                <b>title:</b> This document as JSON<br>
            </p>
    </body>
</html>
