
<!DOCTYPE html>
<html>
    <body>
        <h1>conforms to:</h1>
            <p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc21">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc21</a></p>
            <p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc40">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc40</a></p>
            <p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc41">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc41</a></p>
            <p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc42">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc42</a></p>
			<p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc47">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc47</a></p>
			<p><a href="https://docs.ogc.org/is/18-062r2/18-062r2.html#toc53">https://docs.ogc.org/is/18-062r2/18-062r2.html#toc53</a></p>
            <p>
                <b>links:</b><br><br>
                <b>href:</b> <a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
                <b>rel:</b> self<br>
                <b>type:</b> text/html<br>
                <b>title:</b> This Document as HTML<br>
                <br>
                <b>href:</b> <a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
                <b>rel:</b> alternate<br>
                <b>type:</b> application/json<br>
                <b>title:</b> This document as JSON<br>
            </p>
    </body>
</html>
