
<!DOCTYPE html>
<html>
<body>

<h1>conforms to:</h1>
<p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core</a></p>
<p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/json">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/json</a></p>
<p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/html">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/html</a></p>
<p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/oas30">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/oas30</a></p>
</body>
</html>
