
<!DOCTYPE html>
<html>
    <body>
        <h1>conforms to:</h1>
            <p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core</a></p>
            <p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/json">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/json</a></p>
            <p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/html">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/html</a></p>
            <p><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/oas30">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/oas30</a></p>
            <p>
                <b>links:</b><br><br>
                <b>href:</b> <a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
                <b>rel:</b> self<br>
                <b>type:</b> text/html<br>
                <b>title:</b> This Document as HTML<br>
                <br>
                <b>href:</b> <a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
                <b>rel:</b> alternate<br>
                <b>type:</b> application/json<br>
                <b>title:</b> This document as JSON<br>
            </p>
    </body>
</html>
