<!DOCTYPE html>
<html>
	<body>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
		integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
		crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
		integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
		crossorigin=""></script>
		<h1>coverage:</h1>
		{% block body %}
		<p>
            {% for coverage in coverages %}
            <b>Product:</b> {{coverage.name}}<br>
			BBox: {{coverage.bbox}}<br>
			Date: {{coverage.date}}<br>
			<br>
            {% endfor %}
		</p>
    	{% endblock %}
		<div id="map" style="width: 600px; height: 400px"></div>
		<script>
			var map = L.map('map').setView([51.505, -0.09], 13);
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '© OpenStreetMap'
			}).addTo(map);
			
			var bboxes = '{{bboxes}}'
			var bboxesString = bboxes.replaceAll('&#39;', '"')
			var bboxesJSON = JSON.parse(bboxesString)
			
			var coverage = L.featureGroup().addTo(map)
			for (var i=0; i < bboxesJSON.length; i++) {
				name = bboxesJSON[i].features[0].properties.name
				date = bboxesJSON[i].features[0].properties.date
				console.log(name)
				layer = L.geoJSON(bboxesJSON[i]).bindPopup("Name: " + name + "<br>Date: " + date, {maxWidth: "auto"})
				layer.addTo(coverage)
			}
			map.fitBounds(coverage.getBounds())
				</script>
		<p><b>links:</b><br>
			href:<a href="localhost:5000/coverage?f=text/html">localhost:5000/coverage?f=text/html</a><br>
			rel: self<br>
			type: text/html<br>
			title: This document<br>
			<br>
			href:<a href="localhost:5000/coverage?f=application/json">localhost:5000/coverage?f=application/json</a><br>
			rel: alternate<br>
			type: application/json<br>
			title: This document as JSON<br>
		</p>
	</body>
</html>