<!DOCTYPE html>
<html>
<body>

<h1>links:</h1>
<p>href:<a href="localhost:5000/?f=text/html">localhost:5000/?f=text/html</a><br>
rel: self,<br>
type: text/html,<br>
title: This document
</p>
<p>href:<a href="localhost:5000/?f=application/json">localhost:5000/?f=application/json</a><br>
rel: alternate,<br>
type: application/json,<br>
title: This document as JSON
</p>
<p>href:<a href="tbd">tbd</a><br>
rel: service-desc,<br>
type: application/json,<br>
title: API definition for this endpoint as JSON
</p>
<p>href:<a href="">tbd</a><br>
rel: service-desc,<br>
type: text/html,<br>
title: API definition for this endpoint as HTML
</p>
<p>href:<a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
rel: <a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
type: application/json,<br>
title: OGC API - Processes conformance classes implemented by this server as JSON
</p>
<p>href:<a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
rel: <a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
type: text/html,<br>
title: OGC API - Processes conformance classes implemented by this server as HTML
</p>
<p>href:<a href="localhost:5000/processes?f=application/json">localhost:5000/processes?f=application/json</a><br>
rel: <a href="localhost:5000/processes?f=application/json">localhost:5000/processes?f=application/json</a><br>
type: application/json,<br>
title: Metadata about the processes as JSON
</p>
<p>href:<a href="localhost:5000/processes?f=text/html">localhost:5000/processes?f=text/html</a><br>
rel: <a href="localhost:5000/processes?f=text/html">localhost:5000/processes?f=text/html</a><br>
type: text/html,<br>
title: Metadata about the processes as HTML
</p>
<p>href:<a href="localhost:5000/jobs?f=application/json">localhost:5000/processes?f=jobs/json</a><br>
rel: <a href="localhost:5000/jobs?f=application/json">localhost:5000/processes?f=jobs/json</a><br>
type: application/json,<br>
title: The endpoint for job monitoring as JSON
</p>
<p>href:<a href="localhost:5000/jobs?f=text/html">localhost:5000/jobs?f=text/html</a><br>
rel: <a href="localhost:5000/jobs?f=text/html">localhost:5000/jobs?f=text/html</a><br>
type: text/html,<br>
title: The endpoint for job monitoring as HTML
</p>
</body>
</html>
