<!DOCTYPE html>
<html>
    <body>
        <h1>links:</h1>
        <div>
            <p>
                <b>href:</b><a href="localhost:5000/?f=text/html">localhost:5000/?f=text/html</a><br>
                <b>rel:</b> self<br>
                <b>type:</b> text/html<br>
                <b>title:</b> This document
            </p>
            <p>
                <b>href:</b><a href="localhost:5000/?f=application/json">localhost:5000/?f=application/json</a><br>
                <b>rel:</b> alternate<br>
                <b>type:</b> application/json<br>
                <b>title:</b> This document as JSON
            </p>
            <p>
                <b>href:</b><a href="tbd">tbd</a><br>
                <b>rel:</b> service-desc<br>
                <b>type:</b> application/json<br>
                <b>title:</b> API definition for this endpoint as JSON
            </p>
            <p>
                <b>href:</b><a href="">tbd</a><br>
                <b>rel:</b> service-desc<br>
                <b>type:</b> text/html<br>
                <b>title:</b> API definition for this endpoint as HTML
            </p>
            <p>
                <b>href:</b><a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
                <b>rel:</b> <a href="localhost:5000/conformance?f=application/json">localhost:5000/conformance?f=application/json</a><br>
                <b>type:</b> application/json<br>
                <b>title:</b> OGC API - Processes conformance classes implemented by this server as JSON
            </p>
            <p>
                <b>href:</b><a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
                <b>rel:</b> <a href="localhost:5000/conformance?f=text/html">localhost:5000/conformance?f=text/html</a><br>
                <b>type:</b> text/html<br>
                <b>title:</b> OGC API - Processes conformance classes implemented by this server as HTML
            </p>
            <p>
                <b>href:</b><a href="localhost:5000/processes?f=application/json">localhost:5000/processes?f=application/json</a><br>
                <b>rel:</b> <a href="localhost:5000/processes?f=application/json">localhost:5000/processes?f=application/json</a><br>
                <b>type:</b> application/json<br>
                <b>title:</b> Metadata about the processes as JSON
            </p>
            <p>
                <b>href:</b> <a href="localhost:5000/processes?f=text/html">localhost:5000/processes?f=text/html</a><br>
                <b>rel:</b> <a href="localhost:5000/processes?f=text/html">localhost:5000/processes?f=text/html</a><br>
                <b>type:</b> text/html<br>
                <b>title:</b> Metadata about the processes as HTML
            </p>
            <p>
                <b>href:</b> <a href="localhost:5000/jobs?f=application/json">localhost:5000/processes?f=jobs/json</a><br>
                <b>rel:</b> <a href="localhost:5000/jobs?f=application/json">localhost:5000/processes?f=jobs/json</a><br>
                <b>type:</b> application/json<br>
                <b>title:</b> The endpoint for job monitoring as JSON
            </p>
            <p>
                <b>href:</b> <a href="localhost:5000/jobs?f=text/html">localhost:5000/jobs?f=text/html</a><br>
                <b>rel:</b> <a href="localhost:5000/jobs?f=text/html">localhost:5000/jobs?f=text/html</a><br>
                <b>type:</b> text/html<br>
                <b>title:</b> The endpoint for job monitoring as HTML
            </p>
        </div>
    </body>
</html>
