<!DOCTYPE html>
<html>
	<body>
			<p>
				<b>processID:</b> {{process.id}}<br>
				<b>Title:</b> {{process.title}}<br>
				<b>Description:</b> {{process.description}}<br>
				<b>Version:</b> {{process.version}}<br>
				<b>Job control options:</b> {{process.jobControlOptions}}<br>
				<b>Output transmission mode:</b> {{process.outputTransmission}}
			</p>
			<p><b>inputs:</b></p>
			<p id='{{process.id}}'><p>
			<script>
				var inputs = '{{process.inputs}}'
				var inputsString = inputs.replaceAll('&#39;', '"')
				var inputsJSON = JSON.parse(inputsString)
				console.log(inputsJSON)
				for (var key in inputsJSON) {
					var newElement = document.createElement("p")
					newElement.innerHTML = "<p><b>" + key + "</b><br>Description: " + inputsJSON[key].description + "<br><b>Schema:</b><br>Type: " + inputsJSON[key].schema.type + "</p>"
					document.getElementById('{{process.id}}').appendChild(newElement);
				}
			</script>
			<p>
			<b>links:</b><br>
			href:<a href="localhost:5000/processes/{{process.id}}?f=text/html">localhost:5000/processes/{{process.id}}?f=text/html</a><br>
			rel: self<br>
			type: text/html<br>
			title: This document as HTML<br>
			<br>
			href:<a href="localhost:5000/processes/{{process.id}}?f=application/json">localhost:5000/processes/{{process.id}}?f=application/json</a><br>
			rel: alternate<br>
			type: application/json<br>
			title: This document as JSON<br>
			<br>
			href:<a href="localhost:5000/processes/{{process.id}}/execution">localhost:5000/processes/{{process.id}}/execution</a><br>
			rel: execution<br>
			title: Execute endpoint
		</p>
	</body>
<html>