<!DOCTYPE html>
<html>
	<body>
		{% block body %}
		<p>
            {% for process in processes %}
            <b>Title:</b> {{process.title}}<br>
			<b>processID: </b>{{process.id}}<br>
			Description: {{process.description}}<br>
			Version: {{process.version}}<br>
			Job control options: {{process.jobControlOptions}}<br>
			Output transmission: {{process.outputTransmission}}<br>
			<p><b>inputs:</b></p>
			<p id='{{process.id}}inputs'><p>
			<p><b>outputs:</b></p>
			<p id='{{process.id}}outputs'><p>
			<script>
				var inputs = '{{process.inputs}}'
				var inputsString = inputs.replaceAll('&#39;', '"')
				var inputsJSON = JSON.parse(inputsString)
				var outputs = '{{process.outputs}}'
				var outputsString = outputs.replaceAll('&#39;', '"')
				var outputsJSON = JSON.parse(outputsString)
				console.log(outputsJSON)
				for (var key in inputsJSON) {
					var inputs = document.createElement("p")
					inputs.innerHTML = "<p><b>" + key + "</b><br>Description: " + inputsJSON[key].description + "<br><b>Schema:</b><br>Type: " + inputsJSON[key].schema.type + "</p>"
					document.getElementById('{{process.id}}inputs').appendChild(inputs);
				}
				for (var key in outputsJSON) {
					var outputs = document.createElement("p")
					outputs.innerHTML = "<p><b>" + key + "</b><br><b>Description: </b>" + outputsJSON[key].description + "<br><b>Schema:</b><br>Type: " + outputsJSON[key].schema.type + "</p>"
					document.getElementById('{{process.id}}outputs').appendChild(outputs);
				}
			</script>
			<p>
				<b>links: </b><br>
					href: <a href=localhost:5000/processes/{{process.id}}?f=application/json>localhost:5000/processes/{{process["id"]}}?f=application/json</a><br>
					rel: process<br>
					type: application/json<br>
					title: Process description<br><br>
					href: <a href=localhost:5000/processes/{{process.id}}?f=text/html>localhost:5000/processes/{{process["id"]}}?f=text/html</a><br>
					rel: process<br>
					type: text/html<br>
					title: Process description<br>
			</p>
			<p>=================================================================================================================</p>
            {% endfor %}
		</p>
    	{% endblock %}
		<p><b>links:</b><br>
			href:<a href="localhost:5000/processes?f=text/html">localhost:5000/processes?f=text/html</a><br>
			rel: self<br>
			type: text/html<br>
			title: This document<br>
			<br>
			href:<a href="localhost:5000/processes?f=application/json">localhost:5000/processes?f=application/json</a><br>
			rel: alternate<br>
			type: application/json<br>
			title: This document as JSON<br>
		</p>
	</body>
</html>